@import "tailwindcss";


html, body {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  background: #ecebeb
  
  
  

}
::-webkit-scrollbar {
  display: none;
}




.image-mask {
  clip-path: inset(0 100% 0 0);
}



@keyframes fillUpIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes fillUpOut {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-120%);
  }
}

.animate-fillUpIn {
  animation: fillUpIn 300ms ease-out forwards;
}

.animate-fillUpOut {
  animation: fillUpOut 300ms ease-out forwards;
}


