@import "tailwindcss";


html, body {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  background: #ecebeb
  
  
  

}
::-webkit-scrollbar {
  display: none;
}




.image-mask {
  clip-path: inset(0 100% 0 0);
}



