@import "tailwindcss";


html, body {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  background: #181c14; 
  
  

}
::-webkit-scrollbar {
  display: none;
}




.image-mask {
  clip-path: inset(0 100% 0 0);
}

[data-scroll-container] {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* iOS smooth + riktig touch */
  touch-action: pan-y;               /* swipe = scroll */
  overscroll-behavior: none;         /* mindre “bounce” trøbbel */
}

/* Skjul scrollbar */
[data-scroll-container]::-webkit-scrollbar {
  display: none;
}
[data-scroll-container] {
  scrollbar-width: none;
}

